.go-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary-color); */
    background-color: transparent;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.go-to-cart:hover{
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border: 2px solid var(--on-primary-color);
}

.panel-cart{
    background-color: var(--background-color);
    color : var(--text-color)
}

.btn-close{
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    fill: var(--text-color);

}

.cart-item {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.7rem;
    align-items: cente;
    padding: 0.5rem;
    justify-content: space-between;
}

.item-price {
    margin: 0;
    background-color: var(--secundary-color);
    border-radius: 8px;
    padding: 0.3rem;
    width: fit-content;
    color: var(--on-secundary-color);
}

/* PAGINA DEL CARRO */

.detalle-venta-sect {
    flex: 1;
    padding: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 12px;
    height: max-content;
    min-height: 60dvh;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-bottom-left-radius: 12px ;
    border-bottom-right-radius: 12px;
    justify-content: center;
    text-align: center;
}


.resumen-sect {
    border: 1px solid var(--text-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    height: fit-content;
}

.resumen-total {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.btn-confirm {
    background-color: var(--secundary-color);
    color: var(--on-secundary-color);
    border: 2px solid var(--on-primary-color);
    border-radius: 8px;
    transition: all 0.3s;
}

.btn-confirm:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
}
